*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #bac0cd;
    margin: 0;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #f6f8fc;
    width: 100vw;
    height: 100hv;
    padding: 1rem;
    position: relative;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 100vh;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;

    }
}

